<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="r4-local" value="../../TestResults/R4/packages" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="r4-local">
      <package pattern="WebScene.*" />
    </packageSource>
    <packageSource key="api.nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
